body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #536E91;
    height: 100%;
    position: absolute;
    width: 100%;
}

.weather-app {
    visibility: hidden;
}

.panel {
    background-color: #536E91;
}

#icon {
    margin-top: -15%;
}

.wi {
    font-size: 100px;
    margin-top: 35%;
}

#city-name {
    font-size: 25px;
    margin-top: 20px;
}

.panel {
    display: table-row;
    margin-top: -35%;
}

.thermo-group {
    display: flex;
    margin-left: 65px;
}

i.wi.wi-thermometer {
    font-size: 30px;
}

#temperature-text {
    padding-top: 10px;
    font-size: 14px;
    margin-left: -10px;
}

span.min-temp {
    font-size: 12px;
}

.humidity-group {
    display: flex;
    float: none;
}

i.wi.wi-humidity {
    font-size: 30px;
}

#humidity-text {
    padding-top: 10px;
    font-size: 14px;
    margin-left: 10px;
}

#weather{
    text-transform: capitalize;
    margin-top: 5%;
    font-size: 30px;
    padding-bottom: 20px;
}

.forecast {
    display: flex;
    margin-left: 5px !important;
    margin-top: 10px;
}

.future-forecast {
    font-size: 30px;
    margin-top: 10px;
}

.days {
    display: flex;
    margin-top: 30px;
    font-weight: 600;
    margin-left: 10px !important;
}

img {
    height: 100px;
}

.loader {
    margin-top: -90%;
    margin-left: 35%;
}

.loader-text {
    font-size: 40px;
    margin-top: 200px;
    margin-left: -45%
}